<div nz-row>
    <div nz-col nzSpan="24" style="margin-bottom: 15px;" id="top">
        <nz-steps [nzCurrent]="current" (nzIndexChange)="onIndexChange($event)">
            <nz-step [nzTitle]="step01Template"></nz-step>
            <nz-step [nzTitle]="step02Template"></nz-step>
            <nz-step [nzTitle]="step03Template"></nz-step>
            <nz-step [nzTitle]="step04Template"></nz-step>
        </nz-steps>

        <ng-template #step01Template>
            <span class="hide-xs">Digitalização</span>
            <span class="hide-lg"></span>
        </ng-template>
        <ng-template #step02Template>
            <span class="hide-xs">Documento</span>
            <span class="hide-lg"></span>
        </ng-template>
        <ng-template #step03Template>
            <span class="hide-xs">Comprovante</span>
            <span class="hide-lg"></span>
        </ng-template>
        <ng-template #step04Template>
            <span class="hide-xs">Finalizado!</span>
            <span class="hide-lg"></span>
        </ng-template>
    </div>

    <div nz-col nzSpan="24" *ngIf="!isMobile">
        <!-- Desktop -->
        <button nz-button *ngIf="!modeCamera" nzType="dashed" class="hide-xs" style="float: right;" (click)="toggleModeCamera()">
            <i nz-icon nzType="camera" nzTheme="outline"></i>
            Habilitar Modo Câmera
        </button>
        <button nz-button nzType="dashed" *ngIf="modeCamera" class="hide-xs" style="float: right;" (click)="toggleModeCamera()">
                <i nz-icon nzType="upload" nzTheme="outline"></i>
            Habilitar Upload via Arquivo
        </button>

        <!-- Mobile-->
        <button nz-button *ngIf="!modeCamera" style="margin-bottom: 10px;" nzType="dashed" class="hide-lg" nzBlock (click)="toggleModeCamera()">
            <i nz-icon nzType="camera" nzTheme="outline"></i>
            Habilitar Modo Câmera
        </button>
        <button nz-button nzType="dashed" *ngIf="modeCamera" style="margin-bottom: 10px;" class="hide-lg" nzBlock (click)="toggleModeCamera()">
            <i nz-icon nzType="upload" nzTheme="outline"></i>
            Habilitar Upload via Arquivo
        </button>
    </div>

    <!-- STEP 1 -->
    <div nz-col nzSpan="24" *ngIf="current === 0" style="margin-bottom: 30px;">

        <p style="font-size: 24px; text-align: center; margin-bottom: 7px!important;">Importação da Receita

        </p>

        <div nz-col nzSpan="24" *ngIf="modeCamera">
            <p style="text-align: center; margin-top: 8px; margin-bottom: 25px;">O primeiro passo será importar a receita, tire uma foto para prosseguir.</p>
            <!-- Mensagens de Erros-->
            <div *ngIf="!errorAccessCamera" style="z-index: 0; margin: 0 auto; display: block; position: absolute; text-align: center;  left: 0; right: 0; margin-top: 70px;">
                <nz-spin nzSimple [nzSize]="'large'" style="text-align: center;"></nz-spin>
                <p style="text-align: center; color: gray; margin-top: 20px;">Carregando...
                </p>
            </div>
            <nz-result nzStatus="warning" *ngIf="errorAccessCamera" nzTitle="O acesso à câmera não foi permitido!" nzSubTitle="Verifique as permissões do seu navegador e tente novamente.">
                <div nz-result-extra>
                    <button nz-button nzType="primary" (click)="reloadCamera()">Tentar Novamente</button>
                </div>
            </nz-result>

            <!-- Upload via Webcam -->
            <div nz-row nzGutter="8">
                <div nz-col nzSpan="24">
                    <button nz-button nzSize="large" *ngIf="deviceId !== null && webcamImage === null" (click)="triggerSnapshot()" style="width: 300px; margin: 0 auto; display: block; margin-bottom: 5px;" nzType="primary"><i nz-icon
                        nzType="camera" nzTheme="outline"></i> Tirar Foto</button>
                    <webcam (cameraSwitched)="cameraWasSwitched($event)" *ngIf="!errorAccessCamera && webcamImage === null" [width]="320" [videoOptions]="{width: {min: 1280, ideal: 1920}, height: {min: 720, ideal: 1080}, facingMode: { ideal: 'environment' }}" style="display: block; margin: 0 auto; text-align: center;"
                        [trigger]="triggerObservable" (initError)="handleInitError($event)" (imageCapture)="handleImage($event)"></webcam>
                </div>
                <div nz-col nzSpan="24">
                    <nz-button-group style="display: block; margin: 0 auto; text-align: center; margin-bottom: 5px;" *ngIf="webcamImage !== null" nzSize="large">
                        <button nz-button style="width: 150px; background-color: #2ecc71; border-color: #27ae60;" nzType="primary" (click)="saveImage()">
                            <i nz-icon nzType="like" nzTheme="outline"></i> Gostei!
                        </button>
                        <button nz-button style="width: 150px;" nzType="primary" nzDanger (click)="deleteImage()">
                            <i nz-icon nzType="delete" nzTheme="outline"></i> Excluir
                            </button>
                    </nz-button-group>
                    <img *ngIf="webcamImage !== null" [src]="webcamImage?.imageAsDataUrl" style="max-width: 300px; margin-bottom: 20px; display: block; margin: 0 auto; text-align: center;" />

                </div>
                <div nz-col nzSpan="8">

                </div>
                <div nz-col nzSpan="16">

                </div>
            </div>
        </div>
        <div nz-col nzSpan="24" *ngIf="!modeCamera">
            <p style="text-align: center; margin-top: 8px; margin-bottom: 25px;">O primeiro passo será importar a receita, clique na área abaixo e realize a importação.</p>
            <!-- Upload via input -->
            <nz-upload nzAccept=".png,.jpg, .jpeg, .pdf" nzSize="2000" nzShowUploadList="false" nzType="drag" class="upload-file" nzMultiple="false" [nzFileList]="receitaImage" [nzBeforeUpload]="beforeUploadReceita">
                <p class="ant-upload-drag-icon">
                    <i nz-icon nzType="inbox"></i>
                </p>
                <p class="ant-upload-text">Clique ou arraste a imagem para a área de upload</p>
                <p class="ant-upload-hint">
                    Realize a importação da receita
                </p>
                <p class="ant-upload-hint" style="font-size: 10px; margin-top: 10px;">
                    Formatos aceitos: .jpg, .jpeg, .png e .pdf - Tamanho Máximo: 2MB
                </p>
            </nz-upload>
        </div>

    </div>
    <!-- STEP 2 -->
    <div nz-col nzSpan="24" *ngIf="current === 1" style="margin-bottom: 30px;">
        <p style="font-size: 24px; text-align: center; margin-bottom: 7px!important;">Importação do Documento
        </p>

        <div nz-col nzSpan="24" *ngIf="modeCamera">
            <p style="text-align: center; margin-top: 8px; margin-bottom: 25px;">Agora preciso que você tire uma foto do documento.
            </p>
            <!-- Mensagens de Erros-->
            <div *ngIf="!errorAccessCamera" style="z-index: 0; margin: 0 auto; display: block; position: absolute; text-align: center;  left: 0; right: 0; margin-top: 70px;">
                <nz-spin nzSimple [nzSize]="'large'" style="text-align: center;"></nz-spin>
                <p style="text-align: center; color: gray; margin-top: 20px;">Carregando...
                </p>
            </div>
            <nz-result nzStatus="warning" *ngIf="errorAccessCamera" nzTitle="O acesso à câmera não foi permitido!" nzSubTitle="Verifique as permissões do seu navegador e tente novamente.">
                <div nz-result-extra>
                    <button nz-button nzType="primary" (click)="reloadCamera()">Tentar Novamente</button>
                </div>
            </nz-result>

            <!-- Upload via Webcam -->
            <div nz-row nzGutter="8">
                <div nz-col nzSpan="24">
                    <button nz-button nzSize="large" *ngIf="deviceId !== null && webcamImage === null" (click)="triggerSnapshot()" style="width: 300px; margin: 0 auto; display: block; margin-bottom: 5px;" nzType="primary"><i nz-icon
                        nzType="camera" nzTheme="outline"></i> Tirar Foto</button>
                    <webcam (cameraSwitched)="cameraWasSwitched($event)" *ngIf="!errorAccessCamera && webcamImage === null" [width]="300" [videoOptions]="{width: {min: 1280, ideal: 1920}, height: {min: 720, ideal: 1080}, facingMode: { ideal: 'environment' }}" style="display: block; margin: 0 auto; text-align: center;"
                        [trigger]="triggerObservable" (initError)="handleInitError($event)" (imageCapture)="handleImage($event)"></webcam>

                </div>
                <div nz-col nzSpan="24">
                    <nz-button-group style="display: block; margin: 0 auto; text-align: center; margin-bottom: 5px;" *ngIf="webcamImage !== null" nzSize="large">
                        <button nz-button style="width: 150px; background-color: #2ecc71; border-color: #27ae60;" nzType="primary" (click)="saveImage()">
                            <i nz-icon nzType="like" nzTheme="outline"></i> Gostei!
                        </button>
                        <button nz-button style="width: 150px;" nzType="primary" nzDanger (click)="deleteImage()">
                            <i nz-icon nzType="delete" nzTheme="outline"></i> Excluir
                            </button>
                    </nz-button-group>
                    <img *ngIf="webcamImage !== null" [src]="webcamImage?.imageAsDataUrl" style="max-width: 300px; margin-bottom: 20px; display: block; margin: 0 auto; text-align: center;" />
                </div>
                <div nz-col nzSpan="8">

                </div>
                <div nz-col nzSpan="16">

                </div>
            </div>
        </div>
        <div nz-col nzSpan="24" *ngIf="!modeCamera">
            <p style="text-align: center; margin-top: 8px; margin-bottom: 25px;">Agora preciso que você realize a importação do documento, clique na área abaixo e realize a importação.</p>
            <nz-upload nzAccept=".png,.jpg, .jpeg, .pdf" nzSize="2000" nzShowUploadList="false" nzType="drag" class="upload-file" nzMultiple="false" [nzFileList]="documentoImage" [nzBeforeUpload]="beforeUploadDocumento">
                <p class="ant-upload-drag-icon">
                    <i nz-icon nzType="inbox"></i>
                </p>
                <p class="ant-upload-text">Clique ou arraste a imagem para a área de upload</p>
                <p class="ant-upload-hint">
                    Realize a importação do documento do comprador
                </p>
                <p class="ant-upload-hint" style="font-size: 10px; margin-top: 10px;">
                    Formatos aceitos: .jpg, .jpeg, .png e .pdf - Tamanho Máximo: 2MB
                </p>
            </nz-upload>
        </div>

    </div>
    <!-- STEP 3 -->
    <div nz-col nzSpan="24" *ngIf="current === 2" style="margin-bottom: 30px;">
        <p style="font-size: 24px; text-align: center; margin-bottom: 7px!important;">Importação do Comprovante
        </p>

        <div nz-col nzSpan="24" *ngIf="modeCamera">
            <p style="text-align: center; margin-top: 8px; margin-bottom: 25px;">Para finalizar preciso que você tire uma foto do comprovante.</p>
            <!-- Mensagens de Erros-->
            <div *ngIf="!errorAccessCamera" style="z-index: 0; margin: 0 auto; display: block; position: absolute; text-align: center;  left: 0; right: 0; margin-top: 70px;">
                <nz-spin nzSimple [nzSize]="'large'" style="text-align: center;"></nz-spin>
                <p style="text-align: center; color: gray; margin-top: 20px;">Carregando...
                </p>
            </div>
            <nz-result nzStatus="warning" *ngIf="errorAccessCamera" nzTitle="O acesso à câmera não foi permitido!" nzSubTitle="Verifique as permissões do seu navegador e tente novamente.">
                <div nz-result-extra>
                    <button nz-button nzType="primary" (click)="reloadCamera()">Tentar Novamente</button>
                </div>
            </nz-result>

            <!-- Upload via Webcam -->
            <div nz-row nzGutter="8">
                <div nz-col nzSpan="24">
                    <button nz-button nzSize="large" *ngIf="deviceId !== null && webcamImage === null" (click)="triggerSnapshot()" style="width: 300px; margin: 0 auto; display: block; margin-bottom: 5px;" nzType="primary"><i nz-icon
                        nzType="camera" nzTheme="outline"></i> Tirar Foto</button>
                    <webcam (cameraSwitched)="cameraWasSwitched($event)" *ngIf="!errorAccessCamera && webcamImage === null" [width]="300" [videoOptions]="{width: {min: 1280, ideal: 1920}, height: {min: 720, ideal: 1080}, facingMode: { ideal: 'environment' }}" style="display: block; margin: 0 auto; text-align: center;"
                        [trigger]="triggerObservable" (initError)="handleInitError($event)" (imageCapture)="handleImage($event)"></webcam>
                </div>
                <div nz-col nzSpan="24">
                    <nz-button-group style="display: block; margin: 0 auto; text-align: center; margin-bottom: 5px;" *ngIf="webcamImage !== null" nzSize="large">
                        <button nz-button style="width: 150px; background-color: #2ecc71; border-color: #27ae60;" nzType="primary" (click)="saveImage()">
                            <i nz-icon nzType="like" nzTheme="outline"></i> Gostei!
                        </button>
                        <button nz-button style="width: 150px;" nzType="primary" nzDanger (click)="deleteImage()">
                            <i nz-icon nzType="delete" nzTheme="outline"></i> Excluir
                            </button>
                    </nz-button-group>
                    <img *ngIf="webcamImage !== null" [src]="webcamImage?.imageAsDataUrl" style="max-width: 300px; margin-bottom: 20px; display: block; margin: 0 auto; text-align: center;" />
                </div>
                <div nz-col nzSpan="8">

                </div>
                <div nz-col nzSpan="16">

                </div>
            </div>
        </div>
        <div nz-col nzSpan="24" *ngIf="!modeCamera">
            <p style="text-align: center; margin-top: 8px; margin-bottom: 25px;">Para finalizar preciso que você importe o comprovante, clique na área abaixo e realize a importação.</p>
            <nz-upload nzAccept=".png,.jpg, .jpeg, .pdf" nzSize="2000" nzShowUploadList="false" nzType="drag" class="upload-file" nzMultiple="false" [nzFileList]="ComprovanteImage" [nzBeforeUpload]="beforeUploadComprovante">
                <p class="ant-upload-drag-icon">
                    <i nz-icon nzType="inbox"></i>
                </p>
                <p class="ant-upload-text">Clique ou arraste a imagem para a área de upload</p>
                <p class="ant-upload-hint">
                    Realize a importação do comprovante
                </p>
                <p class="ant-upload-hint" style="font-size: 10px; margin-top: 10px;">
                    Formatos aceitos: .jpg, .jpeg, .png e .pdf - Tamanho Máximo: 2MB
                </p>
            </nz-upload>
        </div>

    </div>

    <!-- STEP 4 -->
    <div nz-col nzSpan="24" *ngIf="current === 3" style="margin-bottom: 30px;">
        <img src="../../../assets/images/concluido.png" style="max-width: 300px; display: block; margin: 0 auto; margin-top: 30px" alt="">
        <p style="font-size: 25px; text-align: center; margin-top: 24px; margin-bottom: 0px;">Digitalização Concluída!
        </p>
        <p style="color: gray; text-align: center; margin-top: 0px;">A digitalização da autorização foi concluída com sucesso.
        </p>
        <div class="hide-xs">
            <button nz-button style="display: block; margin: 0 auto; margin-top: 20px;" nzType="primary" (click)="concluded()">Fechar</button>
        </div>

        <div class="hide-lg">
            <button nz-button style="display: block; margin: 0 auto; margin-top: 20px;" nzType="primary" nzSize="large" (click)="concluded()">Fechar</button>
        </div>

    </div>

    <div nz-col nzSpan="12" *ngIf="current !== 3 && !modeCamera">
        <button nz-button nzType="primary" [nzLoading]="loadingButton" [disabled]="current === 0" (click)="backStep()">
            <i nz-icon nzType="left"></i>
            Voltar
        </button>
    </div>
    <div nz-col nzSpan="12" *ngIf="current !== 3 && !modeCamera">
        <button nz-button [nzLoading]="loadingButton" style="float: right;" nzType="primary" (click)="nextStep()">
            Próximo
            <i nz-icon nzType="right"></i>
        </button>
    </div>
</div>