<div nz-row [nzGutter]="{ md: 24 }" nzJustify="center" nzAlign="middle" style="margin-top: 50px; margin-bottom: 50px;">

    <div nz-col nzMd="10" nzXs="24" style="max-width: 400px;">
        <div>
            <img src="../assets/images/logomarca.png" class="logomarca" style="width:80%" alt="logomarca">

            <form nzLayout="vertical" style="margin-top:20px!important;" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <label for="">Usuário:</label>
                    <nz-form-control nzHasFeedback nzErrorTip="Informe um e-mail válido!">

                        <nz-input-group nzPrefixIcon="user">

                            <input type="text" nz-input formControlName="usuario" placeholder="Digite o seu usuário" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <label for="">Senha:</label>
                    <nz-form-control nzHasFeedback nzErrorTip="Esse campo é obrigatório!">

                        <nz-input-group nzPrefixIcon="lock">
                            <input type="password" nz-input formControlName="password" placeholder="Senha" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <button nz-button nzBlock class="login-form-button login-form-margin" [nzType]="'primary'">Acessar</button>

            </form>
        </div>
    </div>
</div>