<nz-layout class="app-layout">
    <nz-layout>
        <nz-header *ngIf="isLogged">
            <div class="app-header">
                <img src="../assets/images/logomarca.png" style="margin-left: 20px; max-height: 40px;" alt="">
                <div style="float: right; margin-right: 20px;">
                    <nz-avatar nzIcon="user"></nz-avatar> Tiago Parente
                    <nz-divider nzType="vertical"></nz-divider> <a href="" (click)="logout()"><i nz-icon nzType="logout" nzTheme="outline"></i> Sair</a>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
            <p style="text-align: center; font: 10px; color: gray; margin-top: 10px;">Todos os Direitos Reservados - {{this.versao}}</p>
        </nz-content>
    </nz-layout>
</nz-layout>